---
layout: page
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">TOPLU SMS & OTOMASYON SİSTEMLERİ</h1>
          <p class="animated fadeInUp">Web uygulamaları geliştirmeyi seviyoruz ve müşterilerimiz ile daha yakın çalışarak onların ihtiyaçlarına uygun uygulamalar geliştiriyoruz.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Hakkımızda</h2>
            <p>2013 yılında <a href="https://motivolog.com" target="_blank">motivolog.com</a> girişimi ile yazılım alanında çalışmalarımıza resmi olarak başladık ve daha öncesinde geliştirdiğimiz Toplu SMS Panel sistemini ürün portföyümüze kattık.</p>
          </div>
          <p>Bir yandan Toplu SMS servisi üzerindeki çalışmalarımızı devam ettirerek uygulamayı daha kararlı ve hızlı çalışabilir hale getirmeye çalışırken diğer taraftan ürün yelpazemizi giderek genişletmeye devam ediyoruz.</p>
          <p>Toplu SMS Panel ve Servisi yanı sıra Oda veya Dernek Üye Yönetimi Sistemi ile şirketimize daha fazla değer kazandırıyoruz.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Yenilikçi ve Farklı Fikirler Bizi Heyecanlandırıyor</h2>
      <p>Güncel kalabilmek ve teknolojiyi takip edebilmek için devamlı olarak yeni ve farklı fikirler üzerinde çalışıyoruz. Uygulamalarımızın güncel ve güvenli kalabilmesi için elimizden geleni yapıyoruz.</p>
      <p>Bir şirket politikası olarak her zaman en son teknolojiyi kullanmaya çalışıyoruz. Bu müşterilerimizin de ürünlerimizi mutlu ve kararlı bir şekilde kullanmasında büyük katkı sağlıyor. </p>
      <p>Müşterinin ihtiyaçlarını belirleme ve onlardan alınacak geri bildirim ve fikirlerin bizi çok iyi noktalara taşıyacağını biliyoruz ve bu bağlamda müşterilerimiz ve ortak iş yürüttüğümüz yol arkadaşlarımızın tavsiyelerini altın niteliğinde tutup elimizen geldiğince onların yanında olmaya çalışıyoruz.</p>
      <a href="#" class="btn btn-view-works" style="display: none;">View Works</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>ÜRÜN & HİZMETLERİMİZ</h2>
        <p>Şirketinize yenilikçi ve farklı bakış açısıyla katma değer sağlayacak ürünlerimiz aşağıdadır.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="icon ion-earth"></i>
          <h4>Bulk Sms Altyapısı</h4>
          <p>
            Bulk SMS gönderme altyapısı ile kısa sürede sms hizmeti veren bir şirket kurabilirsiniz.
            <br><br><a href="{{site.baseUrl}}/sms-service" class="btn btn-info">İnceleyin</a>
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Oda/Dernek Otomasyonu</h4>
          <p>
            Oda/Dernek üye yönetimi arayüzü ile üye ve aidat yönetimini rahatça yapabilirsiniz. 
            <br><br><a href="mailto:haydar.kulekci@motivolog.com" class="btn btn-info">İletişime Geçin</a>
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Danışmanlık Hizmeti</h4>
          <p>
            Elasticsearch ve Arama teknolojileri kurulum ve uygulama mimarisi destek hizmeti sunuyoruz.
            <br><br><a href="mailto:haydar.kulekci@motivolog.com" class="btn btn-info">İletişime Geçin</a>
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Danışmanlık Hizmeti</h4>
          <p>
            Zend Framework 2-3 ile uygulama geliştirme desteği, eğitimi sunuyoruz. 
            <br><br><a href="mailto:haydar.kulekci@motivolog.com" class="btn btn-info">İletişime Geçin</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Kolay kullanılan bir web uygulaması deneyimi sunuyoruz.</h2>
          <p>Sizin görüşleriniz bizim için çok değerlidir. Ürünlerimiz ve şirketimiz hakkında geridildirim ya da öneride bulunmanızı isteriz.</p>
          <a class="btn btn-default btn-call-to-action" href="mailto:haydar.kulekci@motivolog.com" >Bize Ulaşın</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Nasıl Yaptık</h2>
        <p>Sistemi geliştirirken gerçekten çok uğraştık. Aşağıdaki istatistikler bizi daha iyi anlatacaktır.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
